@charset "UFT-8";
/* CSS Document */

body{
    background-image: url("../images/cascade_mountains-bg.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin:0px;
    padding: 0px;
    color: #344e5f;
}

header, section, aside, article, footer, figure {
    display: block;
}

header{
    background-color: whitesmoke;
    color: #734d65;
    padding-top:25px;   
}

header h1{
    margin-left: 15px;
    font-size: 30px;
}
header h2{
    margin-left: 15px;
    font-size: 20px;
}


nav ul{
    text-align: center;
    list-style: none;
    background-color: #bba5b9;
    margin-bottom: 15px;
}

nav li{
    display: inline-block;

}

nav a{
    padding: 9px;
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: #bba5b9;
    color: whitesmoke;
}

nav a:hover{
    background-color: #734d65;

}

footer{
    color: whitesmoke;
    padding: 9px;
    background-color: #bba5b9;
    clear: both;
    
}

footer p{
    font-size: 10px;

}

.container{
    width: 960px;
    background-color: rgba(238, 199, 221, 0.6);
    margin: auto;
}
.content{
    padding: 10px;
    width: 630px;
    float:left;

}
.sidebar {
    float: left;
    width:300px;
    background-color: rgba(255, 255, 255, 0.4);
    color:#734d65;
    padding: 4px;
}

.sidebar a {
    color: #734d65;

}

figure{
    margin: 0px;
}

figcaption {
    font-size: 10px;
}

.image-right {
    float: right;
}

.image-left {
    float: left;
    margin-right: 8px;
}

h1,h2,h3 {
   
     font-family: "Lobster Two", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}

 p,li {
        font-family: "Playfair Display", serif;
        font-style: normal;
 }