
/* CSS RESET*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* OUR CSS */
  h1,h2,h3,h4 {
    font-family: "League Spartan", sans-serif;
    font-weight: 200;
  }

.sponge {
  font-family: 'quicksand', sans-serif;
  font-weight: 150;
}

p{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background-image: url(../images/bluebackround3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-color: rgb(159, 168, 202);
 background-blend-mode: screen; 
}


/* header styles */

header{
  background-color: rgb(107, 154, 196);
  
}

h1 {
  font-size: 3em;
  text-align: right;
  font-weight: 350;
}

header h2 {
  text-align: right;
  font-size: 1em;
}

header div {
  padding: 30px 0;
  width: 400px;
}
nav {
  background-color: aliceblue;
}
nav a {
  text-align: center;
}
 
.pure-g {
  padding: 10px;
  background-color:rgb(84, 137, 186);
  display: grid;
  text-align: center ;
  grid-template-columns: repeat(4, 1fr); }


  nav a:hover {
    background-color: rgb(59, 76, 91);
    color: whitesmoke;
    
  }


  .welcome {
   text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; /* Gap between grid items */
  }

  /*main section styles */
  section {
    background-color: #bbc8d6;
    margin-bottom: 20em;
  }
  h2 {
    font-size:  5em ;
  }

  p{
    font-size: 1em;
  }
 
  
  section div {
    padding: 10em;
  }

  .darkleaves{
    background-image: url(../images/water04.jpg);
    height: 450px;
    

  }

  .amber {
  padding: 60px 0px 100px 86px;
 }

   .amber h2 
   .amber p {
    
    width: 66%;
  }

  
.no-margin {
  margin: 0px;
}

.vs {
  margin: 120px 0px ;
  text-align: center;
}

.marla h2 {
  padding-left: 86px;

}


 /* margin: 30px auto;


/* circle section */



