body{
    font-size: 16px;
    background-color: black;
    color:whitesmoke;
    padding:100px;
}
p{
    font-size: 12px;
}
nav a{
    flex-grow: 1;
    color: whitesmoke;
    text-decoration: none;
    border: solid whitesmoke 1px;
    padding:10px;
    text-align: center;
    
}

nav a:hover {
    background-color: whitesmoke;
    color: black;
}

a{
    color: whitesmoke;
}

section a {
    color: whitesmoke;
}

.zoe section{
    padding: 5px;
    box-sizing: border-box;
    background-repeat:  none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.em{
    background-image: url(../images/water1.jpeg);

    font-size: 12px;
    line-height: 2em;
    border: solid whitesmoke .5em;
}

.rem {
    background-image:url(../images/water2.jpeg);
    font-size: 1.5rem;
    border: dotted.5rem color orchid;
}

.percent{
    background-image: url(../images/water3.jpeg);
    background-position: top;

    
}
.percent p{
    
    width: 75%;
    
}
.box {
    background-image: url(../images/water4.jpeg);
    
}

.vw{
    background-image: url(../images/water5.jpeg);
    border: dashed palegreen 1vw;
}

.hero p{
    width: 20vw;
}

.hero img {
    width: 100%;
    height: auto;
}