   
 
body{
    backround-color:#285680;
}
    



.stew-content {
    background-color: #cccccc;
    width:700px;
    padding: 10px;
    margin: auto;
}

h1,h2,h3 {
    color: #805E28;
}

</body>
</html>